 <%- include('./header.ejs') %>
    <!--- img about ----->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 mb-3">
                <img class="w-100" src="img/about.jpg" alt="">
            </div>
        </div>
    </div>
    <!--- img about end---->
<%- include('./footer.ejs') %>